body {
  margin: 0px;
  /* width: 300vh; */
}

#yscroll {
  font-family: sans-serif;
  background: #000;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: hidden;

}

h1 {
  color: #fff;
  margin: 50px 0 0 100px;
  font-size: 5rem;
}

.gallery {
  margin: 10px 50px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 275vw;
  }

  ul.top-row {
    width: 275vw;
    display: flex;
    flex-wrap: wrap;
  }

    ul.bottom-row {
      width: 400vw;
      display: flex;
      flex-wrap: wrap;
    }

.gallery img {
  width: 450px;
  padding: 5px;
  filter: grayscale(100%);
  transition: 1s;
}

.gallery img:hover {
  filter: grayscale(0);
  transform: scale(1.05);
}

.lb-nav a.lb-prev, .lb-nav a.lb-next {
  opacity: 1;
}
